/* Estilos generales */

.section-comoTeAyudo {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  scroll-margin-top: 100px;
}

.section-comoTeAyudo h5 {
  margin-bottom: 1rem;
  color: var(--color2);
  text-align: center;
  font-size: 0.9rem;
}

.section-comoTeAyudo h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  color: var(--color1);
  line-height: 1.3;
  margin: 2rem 0px 2rem;
  text-align: center;
}

.section-comoTeAyudo p {
  font-size: 1rem;
  color: var(--color3);
  max-width: 100%;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.8rem;
}

.cards-comoTeAyudo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  background-color: var(--color10);
  border-radius: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 1rem 1rem;
  gap: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img.card {
  width: 1px;
  height: auto;
}

.card h3 {
  color: var(--color5);
  font-weight: 800;
  font-size: 1rem;
}

.card p {
  color: var(--color4);
  font-size: 0.9rem;
  text-align: left;
  margin-bottom: 0;
  line-height: 1.3rem;
}

@media screen and (min-width: 768px) {
  .section-comoTeAyudo {
    width: 100%;
  }

  .section-comoTeAyudo h5 {
    font-size: 1rem;
  }

  .section-comoTeAyudo h1 {
    font-size: 2.2rem;
    line-height: 1.4;
  }

  .section-comoTeAyudo p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    text-align: justify;
    line-height: 1.8;
  }

  .card {
    gap: 2rem;
    justify-content: flex-start;
  }

  .card h3 {
    font-size: 1.1rem;
  }

  .card p {
    font-size: 1rem;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .cards-comoTeAyudo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .section-comoTeAyudo h5 {
    font-size: 1.1rem;
  }

  .section-comoTeAyudo h1 {
    font-size: 2.8rem;
  }

  .section-comoTeAyudo p {
    font-size: 1.2rem;
  }

  .card {
    align-items: center;
    padding: 2rem;
    height: 150px;
    width: auto;
    gap: 1.5rem;
  }

  .card img {
    width: 60px;
    height: auto;
  }

  .card h3 {
    font-size: 1.2rem;
  }

  .card p {
    font-size: 1.1rem;
    line-height: 1.3rem;
    margin-top: 0.8rem;
  }
}
