/*Fuente*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap');
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css");

/*Paleta de colores*/
:root {
  --color1: #2F1C6A;
  --color2: #6842FF;
  --color3: #575657;
  --color4: #8B8B8B;
  --color5: #3F3F3F;
  --color6: #FBF8FF;
  --color7: #DDD4FF;
  --color8: #E8DEF6;
  --color9: #EFEFEF;
  --color10:#F8F8F8;
  --color11:#FFFFFF;
  --color12: #FAFBFF;
  --color13: #F2F2F2;
  --color14: #411fc9;
  --color15: #8971E0;
}

/*Estilos Generales*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

a:active,
a:visited {
  text-decoration: none;
}

body, h1, h2, p {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

.body {
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
 
}
